body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: #fff;
}
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  background: radial-gradient(circle closest-side,red 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "Loading...";
  line-height: 0.5em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,blue 94%,blue);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}


.tagline{
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  line-height: 100%;

}
.slogan{
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.welcome-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  border-bottom: 1px solid black;
}
.menus{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: smaller;
  list-style: none;

  li{
    cursor: pointer;
  }
}
.menus a:last-child{
  border-radius: 100px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: #211f61;
  color: white;
}
.logo{
  height: 2.5rem;
}
.welcome-content{
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-evenly;
  height: 80vh;
}
.welcome-reading{
  background-color: #211f61;
  color: white ;
  font-size: larger;
  padding-inline: 2.5rem;
  padding-block: 0.5rem;
  border-radius: 100px;

}
